---
import BaseLayout from "../layouts/BaseLayout.astro";
const currentPage = "blog";
const pageTitle = "Le Blog";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout currentPage={currentPage} pageTitle={pageTitle}>
    <p>This is the blog page:</p>
    <ul>
        {
            allPosts.map((post: any) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
