---
import BaseLayout from "../layouts/BaseLayout.astro";
const currentPage = "home";
const pageTitle = "Home";
---
<BaseLayout currentPage={currentPage} pageTitle={pageTitle}>
    <h2>Welcome to the homepage!</h2>
</BaseLayout>